.container1 {
  position: relative;
}

.contentContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.contentContainer h1 {
  color: #ffffff;
  width: 46.49470899470899vw;
}

.contentContainer p {
  color: #ffffff;
  line-height: 1.5740740740740742vw;
  width: 45.49470899470899vw;
  font-size: 1.1243386243386242vw;
  margin: 1.3227513227513228vw 0 1.984126984126984vw 0;
}

.heroImage {
  width: 100vw;
  height: 46.2962962962963vw;
}

.btnImageContainer {
  position: absolute;
  bottom: 3.968253968253968vw;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.btnImage {
  width: 7.142857142857142vw;
  height: 7.142857142857142vw;
}

@media only screen and (max-width: 767px) {
  .container1 {
    margin-top: 21.333333333333336vw;
  }

  .heroImage {
    height: 146.66666666666666vw;
    width: 100%;
    object-fit: cover;
  }

  .contentContainer {
    width: 100%;
    padding: var(--mobileContainerPadding);
  }

  .contentContainer h1 {
    width: auto;
  }

  .contentContainer p {
    width: 87.2vw !important;
    line-height: 4.4799999999999995vw;
    font-size: 3.2vw;
    margin: 2.666666666666667vw 0 4vw 0;
  }

  .btnImage {
    width: 21.333333333333336vw;
    height: 21.333333333333336vw;
  }
}
