.DesktopLottieContainer {
    display: block;
}

.MobileLottieContainer {
  display: none;
}

@media only screen and (max-width: 767px) {
  .DesktopLottieContainer {
    display: none;
  }
  .MobileLottieContainer {
    display: block;
  }
}
