.chatIcon {
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  z-index: 1000;
  width: 5vw;
  height: 5vw;
  animation: whatssAppIcon 5s infinite;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #11215b;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

}

.imgContainer img {
  width: 3vw;
  height: 3vw;
}

.whatsappChat {
  position: fixed;
  bottom: 7vw;
  right: 1.2vw;
  z-index: 1000;
  background-color: #fff;
  width: 24.869791666666664vw;
  border-radius: 10px;
}

.closeButton {
  color: #fff;
  position: absolute;
  right: 2.604166666666667vw;
  top: 1.2vw;
  font-size: 1.6276041666666667vw;
  cursor: pointer;
  display: none;
}

@keyframes whatssAppIcon {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1 rotate(20deg));
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1) rotate(20deg);
  }

  100% {
    transform: scale(1);
  }
}

.topCard {
  width: 100%;
  background-color: #11215b;
  padding: 1.3020833333333335vw;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.topCard h3 {
  color: #fff;
  font-size: 1.5873015873015872vw;
  margin-bottom: 0.32552083333333337vw;
}

.topCard p {
  color: #fff;
  font-size: 1.0582010582010581vw;
}

.officeCards {
  padding: 1.3020833333333335vw;
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
}

.officeCard {
  display: flex;
  gap: 0.6510416666666667vw;
  align-items: center;
}

.officeCard:hover {
  cursor: pointer;
}

.officeCard img {
  width: 1.6276041666666667vw;
  height: 1.6276041666666667vw;
}

@media (max-width: 600px) {
  .whatsappChat {
    width: 100vw;
    bottom: 0;
    right: 0;
  }

  .chat-icon {
    position: fixed;
    bottom: 9vw;
    right: 5vw;
    z-index: 1000;
    width: 12vw;
    height: 12vw;
  }

  .officecard {
    width: 100vw;
  }

  .officeCard img{
    width: 5vw;
    height: 5vw;
  }

  .imgContainer {
    width: 15vw;
    height: 15vw;
    bottom: 15vw;
    right: 15vw;
  }

  .imgContainer img {
    width: 10vw;
    height: 10vw;
  }

  .chaticon{
    width: 10vw;
    height: 10vw;
    bottom: 10vw;
    right: 10vw;
  }

  

  .topCard {
    width: 100%;
    background-color: #11215B;
    position: relative;
    padding: 4.666666666666667vw 6.4vw;
  }

  .topCard h3 {
    color: #FFF;
    font-size: 5.333333333333334vw;
    margin-bottom: 1.3333333333333335vw;
  }

  .topCard p {
    text-align: left;
    color: #fff;
    font-size: 3.2vw;
  }

  .topCard button {
    position: absolute;
    right: 4vw;
    top: 1.8vw;
    font-size: 7vw;
  }

  .officeCards {
    display: flex;
    flex-direction: column;
    gap: 4vw;
    padding: 6.4vw 6.4vw 6.4vw 6.4vw;
  }

  .officeCard:hover {
    cursor: pointer;
    background-color: #ECECF1;
  }

  .officeCard {
    display: flex;
    gap: 4vw;
    align-items: center;
  }

  .office-card p {
    font-size: 4vw;
  }

  .office-card img {
    width: 8vw;
    height: 8vw;
  }

  .closeButton{
    display: block;
    font-size: 24px;
  }



}